@charset "utf-8";
* {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-spacing: 0;
}

body {
	background: #fff;
}

#test {
	color: #fff;
	font-size: 24px;
}

div {
	height: 200px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 200px;
}

.div2 {
	display: block;
	float: left;
	width: 25%;
}

#div1 {
	background: #F06A08;
}

#div2 {
	background: #FC832C;
}

#div3 {
	background: #F7A264;
}

#div4 {
	background: #F7BF95;
}

#div5 {
	background: #F0CBAF;
}

@media only screen and (max-width: 320px) {
	body {
		background: #f00;
	}
	.div2 {
		width: 100%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 799px) {
	body {
		background: #0f0;
	}
	.div2 {
		width: 50%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
	body {
		background: #00f;
	}
	.div2 {
		width: 33.333333333%;
	}
}

@media screen and (min-width: 1025px) {
	body {
		background: #000;
	}
	.div2 {
		width: 25%;
	}
}